<% if @comments.count != 0 %>
	<table class="table table-condensed table-striped">
		<tr>
			<th><%= sort_link @search, :id, "ID" %></th>
			<th>Comment</th>
			<th><%= sort_link @search, :video_id, "Video" %></th>
			<th><%= sort_link @search, :user_id, "Username" %></th>
	    <th>Status</th>
			<th></th>
		</tr>
		<% @comments.each do |comment| %>
			<tr>
				<td><%= comment.id %></td>
				<td><%= comment.comment_text %></td>
				<td><%= comment.video.title %></td>
				<td><%= comment.user.username %></td>
				<td><%= comment_status(comment) %></td>
				<td>
	    		<%= link_to "Delete", admin_comment_path(comment), :method => :delete, :confirm =>'Are you sure?', :class => "btn btn-danger btn-xs pull-right" %>
					<%= link_to "Edit", edit_admin_comment_path(comment), :class => "btn btn-warning btn-xs pull-right" %>
				</td>
			</tr>
		<% end%>
	</table>
<% else %>
	<hr/>
	<h4 class="text-primary">Sorry, there is no comment right now!</h4>
<% end %>