<%= render 'admin/admin_dashboard_tabs', :active_tab => 'comments' %>
<div id="dashboard_section" class="admin_dashboard admin_video">
  <div class="inner_container">
    <div id="tabs-1">
    	<div>
    		<div class="pull-right <%= @active %>">
    			<%= link_to "All", admin_comments_path, :class=>"all btn buy btn-sm" %>
    			<%= link_to "Approved", admin_comments_path(:sort => 1),:class=>"approved btn buy btn-sm" %>
    			<%= link_to "Unapproved", admin_comments_path(:sort => 0),:class=>"unapproved btn buy btn-sm" %>
    			<%= link_to "Pending", admin_comments_path(:sort => 3),:class=>"pending btn buy btn-sm" %>
    		</div>
        	<h2 class="">Your Listed Comments</h2>
    	</div>
            
      	<%= render "comments" %>
	</div>
  </div>
</div>