<div class="account-container register stacked">
	
	<div class="content clearfix">
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

			<h1>Create Your Account</h1>			
			
			<div class="login-social">
				<p>Sign in using social network:</p>
				
				<div class="twitter">
					<a href="#" class="btn_1">Login with Twitter</a>				
				</div>
				
				<div class="fb">
					<a href="#" class="btn_2">Login with Facebook</a>				
				</div>
			</div>
			
			<div class="login-fields">
				
				<p>Create your free account:</p>
				<%= devise_error_messages! %>

				<div class="field">
					<%= f.label :username %>
					<%= f.text_field :username, :class=>"form-control",:placeholder => "Username" %>	
				</div> <!-- /field -->

				<div class="field">
					<%= f.label :email %>
					<%= f.text_field :email, :class=>"form-control",:placeholder => "Email" %>	
				</div> <!-- /field -->
				
				<div class="field">
					<%= f.label :password %>
					<%= f.password_field :password, :class=>"form-control",:placeholder => "Password" %>	
				</div> <!-- /field -->
				
				<div class="field">
					<%= f.label :password_confirmation %>
					<%= f.password_field :password_confirmation, :class=>"form-control",:placeholder => "Confirm Password" %>	
				</div> <!-- /field -->
				
			</div> <!-- /login-fields -->
			
			<div class="login-actions">
				
				<span class="login-checkbox">
					<input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4">
					<label class="choice" for="Field">I have read and agree with the Terms of Use.</label>
				</span>
									
				<button class="login-action btn btn-primary btn-block">Register</button>
				
			</div> <!-- .actions -->
			
		<% end %>
		
	</div> <!-- /content -->
	
</div>
<div class="login-extra">
	Already have an account? <a href="./login.html">Login</a>
</div>