<%= simple_form_for([:admin,@style], :html => { :class => 'form-horizontal'}) do |f| %>
      <% if @style.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@style.errors.count, "error") %> prohibited this style from being saved:</h2>

          <ul>
          <% @style.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
        <%= f.input :name %>
        <%= f.input :description, :input_html => { :rows => 5,:class => "form-control"} %>

      <div class="control-group string required style_name error">
        <label class="string required control-label" for="style_name"></label>
        <div class="controls">
          <%= link_to "Go back", admin_styles_path, :class => "btn btn-default"%>
          <%= f.button :submit, :class => "btn btn-primary" %>
        </div>
      </div>
<% end %>