<%= simple_form_for([:admin,@level], :html => { :class => 'form-horizontal'}) do |f| %>
      <% if @level.errors.any? %>
        <div id="error_explanation">
          <h4 class="text text-danger"><%= pluralize(@level.errors.count, "error") %> occured.</h4>
        </div>
      <% end %>
      <%= f.input :name %>
      <div class="control-group required level_scale">
        <label class="string required control-label" for="level_scale"><abbr title="required">*</abbr>Scale</label>
        <div class="controls">
          <div class="row">
            <div class="col-lg-8">
              <div class="duration_slider"></div> 
              <%= f.hidden_field :scale, :id =>"duration_hidden", :class => "hidden_scale_slider new_slider" %>
            </div>
            <div class="col-lg-3">
              <span class="duration_min" style="display:inline-block;margin-right:5px;"><span id="duration_slider_result">120</span> </span>
              <%= f.error :scale, id: 'scale_error', :style => "color: #b94a48;"  %>
            </div>
          </div>
        </div>
      </div>

      <div class="control-group">
        <label class="string required control-label" for="style_name"></label>
        <div class="controls">
          <%= link_to "Go back", admin_levels_path, :class => "btn btn-default"%>
          <%= f.button :submit, :class => "btn btn-primary" %>
        </div>
      </div>
<% end%>