<div class="clearfix" id="dashboard_tabs">
  <div class="inner_container">
    <ul class="clearfix">
      <li class="<%= active_tab %>">
          <% link = raw('<span class="glyphicon glyphicon-user"></span><span>Users</span>') %>
          <%= link_to link, user_dashboard_path, :class => 'dashboard' %>
          
      </li>
      <li class="<%= active_tab %>">
          <% link = raw('<span class="glyphicon glyphicon-briefcase"></span><span>Plans</span>') %>
          <%= link_to link, user_profile_path, :class => 'profile' %>
      </li>
      <li class="<%= active_tab %>">
          <% link = raw('<span class="glyphicon glyphicon-film"></span><span>Videos</span>') %>
          <%= link_to link, admin_videos_path, :class => 'videos' %>
      </li>
      <li class="<%= active_tab %>">
          <% link = raw('<span class="glyphicon glyphicon-music"></span><span>Styles</span>') %>
          <%= link_to link, admin_styles_path, :class => 'styles' %>
      </li>
      <li class="last <%= active_tab %>">
          <% link = raw('<span class="glyphicon glyphicon-stats"></span><span>Levels</span>') %>
          <%= link_to link, admin_levels_path, :class => 'levels' %>
        </li>
    </ul>
  </div>
</div>