<div class="clearfix admin_dashboard_tabs" id="dashboard_tabs">
  <div class="inner_container">
    <ul class="clearfix">
      <li class="<%= active_tab %>">
          <% link = raw('<i class="glyphicon glyphicon-home"></i><span>Dashboard</span>') %>
          <%= link_to link, admin_root_path, :class => 'dashboard' %>
      </li>
      <li class="<%= active_tab %>">
          <% link = raw('<i class="glyphicon glyphicon-user"></i><span>Users</span>') %>
          <%= link_to link, admin_users_path, :class => 'users' %>
      </li>
      <li class="<%= active_tab %>">
          <% link = raw('<i class="glyphicon glyphicon-comment"></i><span>Comments</span>') %>
          <%= link_to link, admin_comments_path, :class => 'comments' %>
      </li>
      <li class="<%= active_tab %>">
          <% link = raw('<i class="glyphicon glyphicon-briefcase"></i><span>Plans</span>') %>
          <%= link_to link, admin_admin_plans_path, :class => 'plans' %>
      </li>
      <li class="<%= active_tab %>">
          <% link = raw('<i class="glyphicon glyphicon-film"></i><span>Videos</span>') %>
          <%= link_to link, admin_videos_path, :class => 'videos' %>
      </li>
      <li class="<%= active_tab %>">
          <% link = raw('<i class="glyphicon glyphicon-music"></i><span>Styles</span>') %>
          <%= link_to link, admin_styles_path, :class => 'styles' %>
      </li>
      <li class="<%= active_tab %>">
          <% link = raw('<i class="glyphicon glyphicon-stats"></i><span>Levels</span>') %>
          <%= link_to link, admin_levels_path, :class => 'levels' %>
        </li>
        <li class="last <%= active_tab %>">
          <% link = raw('<i class="glyphicon glyphicon-tower"></i><span>Teachers</span>') %>
          <%= link_to link, admin_teachers_path, :class => 'teachers' %>
        </li>
    </ul>
  </div>
</div>