<div class="clearfix" id="dashboard_tabs">
  <div class="inner_container">
    <ul class="clearfix">
      <li class="<%= active_tab %>">
          <% link = raw('<i class="glyphicon glyphicon-calendar"></i><span>Dashboard</span>') %>
          <%= link_to link, user_dashboard_path, :class => 'dashboard' %>
          
      </li>
      <li class="<%= active_tab %>">
          <% link = raw('<i class="glyphicon glyphicon-user"></i><span>Profile</span>') %>
          <%= link_to link, user_profile_path, :class => 'profile' %>
      </li>
      <li class="<%= active_tab %>">
          <% link = raw('<i class="glyphicon glyphicon-star"></i><span>My Classes</span>') %>
          <%= link_to link, user_my_classes_path, :class => 'my_class' %>
      </li>
      <li class="last <%= active_tab %>">
          <% link = raw('<i class="glyphicon glyphicon-book"></i><span>Billing</span>') %>
          <%= link_to link, "#", :class => 'billing' %>
        </li>
    </ul>
  </div>
</div>