<%= render 'dashboard_tabs', :active_tab => 'dashboard' %>
<div id="dashboard_section">
  <div class="inner_container">
    <div id="tabs-1">
      <h2>Welcome, <span class="text-primary"><%= current_user.username %></span></h2>
      <h4>This is the top sentence.... Something can be written in here</h4>


      <div class="row display_videos_module featured_style">
        <div class="col-lg-12"><h2 class="section_title">Today's Feature Class</h2></div>
        <% if TodayVideo.where(:set_date => Date.today).count > 0 %>
          <% TodayVideo.where(:set_date => Date.today).each do |set_video| %>
            <div class="col-lg-12">
              <div class="video_container clearfix">
                <div class="video_item">
                  <%= image_tag(set_video.video.photo.url(:medium), :alt => set_video.video.title, :class => "video_thumb") %>
                  <div class="video_overlay">
                    <%= link_to ( image_tag "play_button.png" ), set_video.video, 
                            :id => "video#{set_video.video_id}",
                            :class => "video_popover"   
                      %>
                  </div><!--/video_overlay--> 
                </div> <!--/video_item-->
                <div class="video_short_content">
                  <div class="video_content_inner">
                    <div class="video_level">
                      <% x = 1 %>
                      <% while x <= set_video.video.level.scale %>
                        <% x+=1 %>
                        <span class="glyphicon glyphicon-leaf"></span>
                      <% end %>
                    </div>
                    <ul class="no_list left_list clearfix" style="margin-bottom:0.5em;">
                        <li><%= link_to set_video.video.style.name, set_video.video.style %></li>
                        <li> | </li>
                        <li>by <%= link_to set_video.video.teacher.name, set_video.video.teacher %></li>
                      </ul>
                    <div class="social clearfix">
                        <ul class="no_list left_list">
                          <li>
                            <span class="txt">
                              <%= FavoriteVideo.count :conditions => {:video_id => set_video.video_id} %>
                            </span>
                            <span class="glyphicon glyphicon-heart"></span>
                          </li>
                          <li>
                            <span class="txt"><%= set_video.video.comments.count %> </span>
                            <span class="glyphicon glyphicon-comment"></span>
                          </li>
                          <li>
                            <span class="txt"><%= set_video.video.duration %> min</span>
                            <span class="glyphicon glyphicon-time"></span>
                          </li>
                        </ul>
                      </div>
                      <h2 class="clearfix"><%= link_to set_video.video.title, set_video.video %></h2>
                      <p>
                        <%= (truncate h(set_video.video.description), 
                                :length => 850, 
                                :omission => "... #{link_to'more',set_video.video}")
                                .html_safe %>
                      </p>
                  </div><!--/video_content_inner-->
                </div><!--/video_short_content-->
              </div>
            </div>
          <% end %>
        <% end %>
        
        <hr/>
        <div class="col-lg-12">
          <h2 class="section_title">Your Favorited Teachers Latest Classes</h2>
            <div class="row clearfix">
              <% for teacher in @user.favorites_teacher %>
                <% @v = Video.where(:teacher_id => teacher.id).order("created_at").last %>

                  <div class="col-lg-6">
                    <div class="video_container clearfix">
                      <div class="video_item">
                        <%= image_tag(@v.photo.url(:medium), :alt => @v.title, :class => "video_thumb") %>
                        <div class="video_overlay">
                          <%= link_to ( image_tag "play_button.png" ), @v, 
                                  :id => "video#{@v.id}",
                                  :class => "video_popover"   
                            %>
                        </div><!--/video_overlay--> 
                      </div> <!--/video_item-->
                      <div class="video_short_content">
                        <div class="video_content_inner">
                          <div class="video_level">
                            <% x = 1 %>
                            <% while x <= @v.level.scale %>
                              <% x+=1 %>
                              <span class="glyphicon glyphicon-leaf"></span>
                            <% end %>
                          </div>
                          <div class="social clearfix">
                            <ul class="no_list left_list clearfix" style="margin-bottom:0.5em;">
                              <li><%= link_to @v.style.name, @v.style %></li>
                              <li> | </li>
                              <li>by <%= link_to @v.teacher.name, @v.teacher %></li>
                            </ul>
                          </div>
                          <div class="social clearfix">
                            <ul class="no_list left_list">
                              <li>
                                <span class="txt">
                                  <%= FavoriteVideo.count :conditions => {:video_id => @v.id} %>
                                </span>
                                <span class="glyphicon glyphicon-heart"></span>
                              </li>
                              <li>
                                <span class="txt"><%= @v.comments.count %> </span>
                                <span class="glyphicon glyphicon-comment"></span>
                              </li>
                              <li>
                                <span class="txt"><%= @v.duration %> min</span>
                                <span class="glyphicon glyphicon-time"></span>
                              </li>
                            </ul>
                          </div>
                          <h2 class="clearfix"><%= link_to @v.title, @v %></h2>
                          <p>
                            <%= (truncate h(@v.description), 
                                    :length => 120, 
                                    :omission => "... #{link_to'more',@v}")
                                    .html_safe %>
                          </p>
                        </div><!--/video_content_inner-->
                      </div><!--/video_short_content-->
                    </div>
                  </div> 
              <% end %>
            </div><!--/row-->
        </div>
  </div>

  

    </div>
  </div>
</div>