<%= render 'dashboard_tabs', :active_tab => 'my_class' %>
<div id="dashboard_section">
  <div class="inner_container">
    
    <div id="my_classes" class="dashboard_inner_tab">
      <ul class="class_tabs clearfix">
        <li><a href="#favorites">Favorite Videos</a></li>
        <li><a href="#history">History</a></li>
      </ul>

      <hr/>
      <div id="favorites" class="display_videos_module featured_style favorites clearfix">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="section_title">Favorite Videos</h3>
            <% for video in @user.favorites %>
              <div class="col-lg-12">
                <div class="video_container clearfix">
                  <div class="video_item">
                    <%= image_tag(video.photo.url(:medium), :alt => video.title, :class => "video_thumb") %>
                    <div class="video_overlay">
                      <%= link_to ( image_tag "play_button.png" ), video, 
                            :id => "video#{video.id}",
                            :class => "video_popover",
                            :data => {:toggle => "popover",
                                      :trigger => "hover",
                                      :content => "<h2>#{video.title}</h2>
                                      <p class='style'><b>Style:</b>#{video.style.name}</p>
                                      <p class='teacher'><b>Teacher:</b>#{video.teacher.name}</p>
                                      <p class='level'><b>Level:</b>#{video.level}</p>
                                      <hr/>
                                      <p class='desc'>#{video.description}</p>"} 
                      %>
                      <div class="video_duration"><span><%= video.duration %> min</span></div>
                    </div><!--/video_overlay--> 
                  </div> <!--/video_item-->
                  <div class="video_short_content">
                    <div class="video_content_inner">
                      <div class="video_level">
                        <% x = 1 %>
                          <% while x <= video.level.scale %>
                            <% x+=1 %>
                            <span class="glyphicon glyphicon-leaf"></span>
                          <% end %>
                      </div>
                      <ul class="no_list left_list clearfix" style="margin-bottom:0.5em;">
                        <li><%= link_to video.style.name, '#' %></li>
                        <li> | </li>
                        <li>by <%= link_to video.teacher.name, video.teacher %></li>
                      </ul>
                      <div class="social clearfix">
                        <ul class="no_list left_list">
                          <li>
                            <span class="txt">
                              <%= FavoriteVideo.count :conditions => {:video_id => video.id} %>
                            </span>
                            <span class="glyphicon glyphicon-heart"></span>
                          </li>
                          <li>
                            <span class="txt"><%= video.comments.count %> </span>
                            <span class="glyphicon glyphicon-comment"></span>
                          </li>
                          <li>
                            <span class="txt"><%= video.duration %> min</span>
                            <span class="glyphicon glyphicon-time"></span>
                          </li>
                        </ul>
                      </div>
                      <h2 class="clearfix"><%= link_to video.title, video %></h2>
                      <p>
                        <%= (truncate h(video.description), 
                                :length => 220, 
                                :omission => "... #{link_to'more',video}")
                                .html_safe %>
                      </p>
                    </div><!--/video_content_inner-->
                  </div><!--/video_short_content-->
                  <div class="video_notes">
                    <div class="video_content_inner">
                      <h4 class="small_title">Personal Notes on This Video</h4>
                      <% video.favorite_videos.where(:user_id => current_user.id, :video_id => video.id).each do |note| %>
                        <%= form_for(note, :html => { :class => 'form-horizontal add_user_notes_form', :multipart => true }) do |f| %>
                            <%= f.text_area :user_notes, :rows =>11 %>
                            <%= f.submit "submit", :id=>"submit_user_notes" %>
                        <% end %>
                      <% end %>

                    </div>
                  </div>
                </div><!--/video_container-->
              </div>
            <% end %>  
          </div>
        </div>
      </div><!--/tab featured videos-->
      <div id="history" class="display_videos_module featured_style favorites clearfix">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="section_title">Videos Previously Watched</h3>
            
            <% for video in @user.histories %>
              <div class="col-lg-12">
                <div class="video_container clearfix">
                  <div class="video_item">
                    <%= image_tag(video.photo.url(:medium), :alt => video.title, :class => "video_thumb") %>
                    <div class="video_overlay">
                      <%= link_to ( image_tag "play_button.png" ), video, 
                            :id => "video#{video.id}",
                            :class => "video_popover",
                            :data => {:toggle => "popover",
                                      :trigger => "hover",
                                      :content => "<h2>#{video.title}</h2>
                                      <p class='style'><b>Style:</b>#{video.style.name}</p>
                                      <p class='teacher'><b>Teacher:</b>#{video.teacher.name}</p>
                                      <p class='level'><b>Level:</b>#{video.level}</p>
                                      <hr/>
                                      <p class='desc'>#{video.description}</p>"} 
                      %>
                      <div class="video_duration"><span><%= video.duration %> min</span></div>
                    </div><!--/video_overlay--> 
                  </div> <!--/video_item-->
                  <div class="video_short_content">
                    <div class="video_content_inner">
                      <div class="video_level">
                        <% x = 1 %>
                          <% while x <= video.level.scale %>
                            <% x+=1 %>
                            <span class="glyphicon glyphicon-leaf"></span>
                          <% end %>
                      </div>
                      <p>by <%= link_to video.teacher.name, video.teacher %></p>
                      <div class="social clearfix">
                        <ul class="no_list left_list">
                          <li>
                            <span class="txt">
                              <%= FavoriteVideo.count :conditions => {:video_id => video.id} %>
                            </span>
                            <span class="glyphicon glyphicon-heart"></span>
                          </li>
                          <li>
                            <span class="txt"><%= video.comments.count %> </span>
                            <span class="glyphicon glyphicon-comment"></span>
                          </li>
                          <li> | </li>
                          <li><%= link_to video.style.name, '#' %></li>
                        </ul>
                      </div>
                      <h2 class="clearfix"><%= link_to video.title, video %></h2>
                      <p>
                        <%= (truncate h(video.description), 
                                :length => 220, 
                                :omission => "... #{link_to'more',video}")
                                .html_safe %>
                      </p>
                    </div><!--/video_content_inner-->
                  </div><!--/video_short_content-->
                  <div class="video_notes">
                    <div class="video_content_inner">

                      <h4 class="small_title">Personal Notes on This Video</h4>
                      <% video.favorite_videos.where(:user_id => current_user.id, :video_id => video.id).each do |note| %>
                        <%= form_for(note, :html => { :class => 'form-horizontal add_user_notes_form', :multipart => true }) do |f| %>
                            <%= f.text_area :user_notes, :rows =>11 %>
                            <%= f.submit "submit", :id=>"submit_user_notes" %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div><!--/video_container-->
              </div>
            <% end %>  

          </div><!--/col-lg-12-->
        </div><!--/row-->
      </div><!--/history tab-->
      
    </div>
  </div>
</div>
