<div class="account-container stacked">
	
	<div class="content clearfix">
		
		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
		
			<h1 class="text-center">Forgot your password?</h1>		
			
			<div class="login-fields">
				<%= devise_error_messages! %>
				
				<p>Enter your email address to reset your password:</p>

				<% if flash[:alert] %>
				  <p id="login_error" class="text-danger"><%= flash[:alert] %></p>
				<% end %>
				
				<div class="field">
					<%= f.label :email %>
					<%= f.text_field :email, :placeholder =>"Email address", :class=> "form-control input-lg email-field", :autofocus => true %>
				</div> <!-- /field -->
				
			</div> <!-- /login-fields -->
			
			<div class="login-actions">
									
				<%= f.submit "Send me reset password instructions", :class=>"login-action btn btn-primary btn-block" %>
				
			</div> <!-- .actions -->
			
		<% end %>
		
	</div> <!-- /content -->
	
</div>
<div class="login-extra">
	Don't have an account? <%= link_to "Sign Up", new_registration_path(resource_name) %><br>
	You can  <%= link_to "Sign in",new_user_session_path %> from here
</div>