<div class="inner_container">
    <%= form_for(@video, :html => { :class => 'form-horizontal'}) do |f| %>
      <% if @video.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

          <ul>
          <% @video.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :title, :class => "col-lg-2 control-label" %>
        <div class="col-lg-7">
          <%= f.text_field :title, :autofocus => true, :class => "form-control", :placeholder => "Video title" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :duration, :class => "col-lg-2 control-label" %>
        <div class="col-lg-7">
          <%= f.text_field :duration, :class => "form-control", :placeholder => "Duration" %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Select Style</label>
        <div class="col-lg-7">
          <%= select("video", "style_id", Style.all.collect {|p| [ p.name, p.id ] }, {prompt:'Select Style Type'}, :class => "form-control" )%>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Select Teacher</label>
        <div class="col-lg-7">
          <%= f.collection_select( :teacher_id, Teacher.order(:name), :id, :name, {:prompt => "Select a teacher"}, { :class => "form-control"}) %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Select Level</label>
        <div class="col-lg-7">
          <%= f.collection_select( :level_id, Level.order(:name), :id, :name, {:prompt => "Select a level"}, { :class => "form-control"}) %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Enter Wistia video code</label>
        <div class="col-lg-7">
          <%= f.text_field :wistia_id, :class => "form-control", :placeholder => "wistia id" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :photo, :class => "col-lg-2 control-label" %>
        <div class="col-lg-7">
          <%= f.file_field :photo, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :description, :class => "col-lg-2 control-label" %>
        <div class="col-lg-7">
          <%= f.text_area :description, :class => "form-control", :placeholder => "Description of the video", :rows => "10" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-7">
          <%= link_to "Go back", admin_videos_path, :class => "btn btn-default"%>
          <%= f.submit "Create Video", :class => "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div><!--/inner-container-->
</div><!--/gray-box-->