<div class="col-lg-4">
  <div class="video_container">
    <div class="video_item">
      <%= image_tag(video.photo.url(:medium), :alt => video.title, :class => "video_thumb") %>
      <div class="video_overlay">
        <%= link_to ( image_tag "play_button.png" ), video, 
              :id => "video#{video.id}",
              :class => "video_popover",
              :data => {:toggle => "popover",
                        :trigger => "hover",
                        :content => "<h2>#{video.title}</h2>
                        <p class='style'><b>Style:</b>#{video.style.name}</p>
                        <p class='teacher'><b>Teacher:</b>#{video.teacher.name}</p>
                        <p class='level'><b>Level:</b>#{video.level}</p>
                        <hr/>
                        <p class='desc'>#{video.description}</p>"} 
        %>
        <div class="video_duration"><span><%= video.duration %> min</span></div>
      </div><!--/video_overlay--> 
    </div> <!--/video_item-->
    <div class="video_short_content">
      <div class="video_content_inner">
        <div class="video_level">
          <% x = 1 %>
            <% while x <= video.level.scale %>
              <% x+=1 %>
              <span class="glyphicon glyphicon-leaf"></span>
            <% end %>
        </div>
        <p>by <%= link_to video.teacher.name, video.teacher %></p>
        <div class="social clearfix">
          <ul class="no_list left_list">
            <li>
              <span class="txt">
                <%= FavoriteVideo.count :conditions => {:video_id => video.id} %>
              </span>
              <span class="glyphicon glyphicon-heart"></span>
            </li>
            <li>
              <span class="txt"><%= video.comments.count %> </span>
              <span class="glyphicon glyphicon-comment"></span>
            </li>
            <li> | </li>
            <li><%= link_to video.style.name, video.style %></li>
          </ul>
        </div>
        <h2 class="clearfix"><%= link_to video.title, video %></h2>
        <p>
          <%= (truncate h(video.description), 
                  :length => 220, 
                  :omission => "... #{link_to'more',video}")
                  .html_safe %>
        </p>
      </div><!--/video_content_inner-->
    </div><!--/video_short_content-->
  </div><!--/video_container-->
</div><!--/col-lg-4-->
<div id="test"></div>