<h1 style="margin-top:100px;">Listing videos</h1>

<%= search_form_for @q do |f| %>
  <%= f.label :title_cont %>
  <%= f.text_field :title_cont %>

  <%= f.label :duration_lteq %>
  <%= f.text_field :duration_lteq %>

  <%= f.label :style_id_eq %>
  <%= f.collection_select( :style_id_eq, Style.order(:name), :id, :name, {:prompt => "Select a style"}, { :class => "form-control"}) %>

  <%= f.label :teacher_id_eq %>
  <%= f.collection_select( :teacher_id_eq, Teacher.order(:name), :id, :name, {:prompt => "Select a teacher"}, { :class => "form-control"}) %>

  <label class="col-lg-4 control-label">Select Level</label>
        <div class="col-lg-7">
          <%= f.radio_button :level_eq, '1' %> 
          <%= f.label :level_eq, 'Level 1', :value => '1' %>
          <%= f.radio_button :level_eq, '2' %>
          <%= f.label :level_eq, 'Level 2', :value => '2' %>
          <%= f.radio_button :level_eq, '3' %>
          <%= f.label :level_eq, 'Level 3', :value => '3' %>
        </div>

  <%= f.submit %>
<% end %>

<div class="row clearfix" id="video_listing">
    <%= render @videos %>
  </div><!--/row-->

  <%= will_paginate @videos %>

<% if user_signed_in? %>
    <p><%= link_to 'New Video', new_video_path %></p>
<% end %>
