<div class="display_videos_module">
  <div class="container">
    <h1>Listing videos</h1>
      
      <%= link_to "Filter Classes",:id => "class_filter" %>

      <%= search_form_for(@q, :html => { :class => 'form-inline clearfix', :id => 'video_search_form', :remote =>true}) do |f| %>
        <div class="well search_dark">
          <table class="table table-responsive">
            <tr>
              <th><%= f.label :title_cont,"Search Videos:" %></th>
              <th><%= f.label :style_id_eq, "Select Style" %></th>
              <th><%= f.label :teacher_id_eq, "Select Teacher" %></th>
              <th><label>Select Duration</label></th>
              <th></th>
              <th><label>Select Level</label></th>
            </tr>
            <tr>
              <td><%= f.text_field :title_cont, :class => "form-control", :placeholder => "Search Video" %></td>
              <td><%= f.collection_select( :style_id_eq, Style.order(:name), :id, :name, {:prompt => "Select a style"}, { :class => "form-control"}) %></td>
              <td><%= f.collection_select( :teacher_id_eq, Teacher.order(:name), :id, :name, {:prompt => "Select a teacher"}, { :class => "form-control"}) %></td>
              <td>
                <div class="duration_slider"></div> 
                <%= f.hidden_field :duration_lteq, :id =>"duration_hidden" %>
              </td>
              <td><p class="duration_min"><span id="duration_slider_result">120</span> min</p></td>
              <td class="level">
                <% @level_value.each do |d| %>
                  <input type="checkbox" name="q[level_eq_any][]" id="level_eq_any_<%= d %>" class="level_eq_search" value="<%= d %>"/>
                  <label for="level_eq_any_<%= d %>">
                    <% x = 1 %>
                    <% while x <= d.to_i %>
                    <% x+=1 %>
                    <span class="glyphicon glyphicon-leaf"></span>
                    <% end %>
                  </label>
                <% end %>
                
                
              </td>
            </tr>
          </table>
        </div><!--/well-->
        <div class="row clearfix" id="video_listing">
          <%= render 'sorted_videos' %>
        </div><!--/row-->

        <%= f.submit 'Search', :class => "search_submit" %>
      <% end %>

<% if user_signed_in? %>
    <p><%= link_to 'New Video', new_video_path %></p>
<% end %>
</div><!--/container-->
</div><!--/videos_module-->