<div class="row clearfix" id="video_section">
  <div class="col-lg-9">
    <div class="video_box">
      <div class="inner_container">
        <script charset="ISO-8859-1" src="http://fast.wistia.net/static/concat/E-v1.js"></script>

        <div id="wistia_<%= @video.wistia_id %>" class="wistia_embed" style="width:100%;height:450px;" data-video-width="640" data-video-height="360" data-wistia-id="<%= @video.wistia_id %>" data-video-id="<%= @video.id %>">&nbsp;</div>

        <h2 class="video_title"><%= @video.title %></h2>
        
        <div id="video_info">
          <div class="video_sub_info">
            <div class="pull-right" id="video_social">
              <div class="favorited_by pull-right">
                <span class="txt">
                  <%= FavoriteVideo.count :conditions => {:video_id => @video.id} %>
                </span>
                <span class="glyphicon glyphicon-heart"></span>
              </div><!--/favorited_by-->

              <div class="commented_by pull-right">
                <span class="txt"><%= @video.comments.count %> </span>
                <span class="glyphicon glyphicon-comment"></span>
              </div><!--/commented_by-->

              <div class="video_level pull-right">
                <% x = 1 %>
                <span>Level: </span>
                <% while x <= @video.level.scale %>
                  <% x+=1 %>
                  <span class="glyphicon glyphicon-leaf"></span>
                <% end %>
              </div><!--video_level-->

              <div class="duration pull-right">
                <span class="txt"><%= @video.duration %> min</span>
                <span class="glyphicon glyphicon-time"></span>
              </div><!--/duration-->
            </div>
            <div>
              <%= link_to @video.style.name, @video.style %> | by <%= link_to @video.teacher.name, @video.teacher %> on <%= nice_date_form(@video.created_at )%>
            </div>
          
          </div><!--/video-sub-info-->
          <div class="video_description"><%= @video.description %></div>
        </div><!--/video_info-->        
      </div><!--/inner_container-->
    </div><!--/video_box-->

    <%= render "comments/comments_section", :selected_video => @video %>
  
  </div><!--/col-lg-9-->

  <div class="col-lg-3" id="video_sidebar">
    <% if current_user.admin? %>
      <%= link_to raw('<span class="glyphicon glyphicon-wrench"></span><span class="txt">Edit This Video</span>'), edit_video_path(@video),:class =>"btn edit" %>
    <% end %>

    <%= render "add_favorites_button" %>
    <hr/>
    <%= render "popular_videos" %> 
    <hr/>
    <%= render "latest_comments" %> 
    
  </div>
</div>