<div class="sequence-theme">
	<div id="sequence">

		<%= image_tag "images/bt-prev.png", :class => "sequence-prev", :alt => "Previous Frame" %>
		<%= image_tag "images/bt-next.png", :class => "sequence-next", :alt => "Next Frame" %>

		<ul class="sequence-canvas">
			<li class="animate-in">
				<h2 class="title"><span class="text-primary">Feel Amazing!</span><br/> Welcome to Dance Dynamics</h2>
				<h3 class="subtitle">Live for Life, Dance For Life</h3>
				<%= image_tag "slider/slider_man_2.png", :class => "model", :alt =>"Model 1" %>
			</li>
			<li>
				<h2 class="title">Join Us Today for with 15 days Free trial</h2>
				<h3 class="subtitle"><%= link_to "Join Us","#", :class =>"btn btn-primary btn-lg" %></h3>
				<%= image_tag "slider/slider_girl_2.png", :class => "model", :alt =>"Model 2" %>
			</li>
			<li>
				<h2 class="title">Cutting Edge</h2>
				<h3 class="subtitle">Supports modern browsers, old browsers (IE7+), touch devices and responsive designs</h3>
				<%= image_tag "slider/slider_man_1.png", :class => "model", :alt =>"Model 3" %>
			</li>
		</ul>
	</div>
</div>
<!-- <div class="sequence-pagination">
	<ul class="">
		<li><%= image_tag "images/tn-model1.png" %></li>
		<li><%= image_tag "images/tn-model2.png" %></li>
		<li><%= image_tag "images/tn-model3.png" %></li>
	</ul>
</div> -->

<div class="display_videos_module">
  	<div class="container">
    <h1>Listing videos</h1>

	    <%= search_form_for(@q, :html => { :class => 'form-inline clearfix', :id => 'video_search_form', :remote =>true}) do |f| %>

		    <div class="form-group">
		        <%= f.label :title_cont,"Search Videos:" %>
		        <%= f.text_field :title_cont, :class => "form-control", :placeholder => "Search Video" %>
		    </div>

	      	<div class="form-group">
		        <%= f.label :style_id_eq, :class => "sr-only"  %>
		        <%= f.collection_select( :style_id_eq, Style.order(:name), :id, :name, {:prompt => "Select a style"}, { :class => "form-control"}) %>
	      	</div>

	      	<div class="form-group">
		        <%= f.label :teacher_id_eq, :class => "sr-only"  %>
		        <%= f.collection_select( :teacher_id_eq, Teacher.order(:name), :id, :name, {:prompt => "Select a teacher"}, { :class => "form-control"}) %>
	      	</div>
	         
	      	<div class="duration_slider"></div>
	          	<div id="duration_slider_result">50</div>  
	      	<%= f.hidden_field :duration_lteq, :id =>"duration_hidden" %>

	      	<div class="form-group">
		        <label>Select Level</label>
		            <div>
					    <%= f.radio_button :level_eq, '1', :class => 'level_eq_search'%> 
			            <%= f.label :level_eq, 'Level 1', :value => '1' %>
			            <%= f.radio_button :level_eq, '2', :class => 'level_eq_search' %>
			            <%= f.label :level_eq, 'Level 2', :value => '2' %>
			            <%= f.radio_button :level_eq, '3', :class => 'level_eq_search' %>
			            <%= f.label :level_eq, 'Level 3', :value => '3' %>
		            </div>
	      	</div>
		    <div class="row clearfix" id="video_listing">
		        <%= render 'videos/sorted_videos' %>
		    </div><!--/row-->
	      
	      	<%= f.submit 'Search', :class => "search_submit" %>
	    <% end %>
	</div>
</div>