</div><!--/container-->
<div class="sequence-theme">
	<div id="sequence">

		<%= image_tag "images/bt-prev.png", :class => "sequence-prev", :alt => "Previous Frame" %>
		<%= image_tag "images/bt-next.png", :class => "sequence-next", :alt => "Next Frame" %>

		<ul class="sequence-canvas">
			<li class="animate-in">
				<h2 class="title"><span class="text-primary">Feel Amazing!</span><br/> Welcome to Dance Dynamics</h2>
				<h3 class="subtitle">Live for Life, Dance For Life</h3>
				<%= image_tag "slider/slider_man_2.png", :class => "model", :alt =>"Model 1" %>
			</li>
			<li>
				<h2 class="title">Join Us Today for with 15 days Free trial</h2>
				<h3 class="subtitle"><%= link_to "Join Us","#", :class =>"btn btn-primary btn-lg" %></h3>
				<%= image_tag "slider/slider_girl_2.png", :class => "model", :alt =>"Model 2" %>
			</li>
			<li>
				<h2 class="title">Cutting Edge</h2>
				<h3 class="subtitle">Supports modern browsers, old browsers (IE7+), touch devices and responsive designs</h3>
				<%= image_tag "slider/slider_man_1.png", :class => "model", :alt =>"Model 3" %>
			</li>
		</ul>
	</div>
</div>
<!-- <div class="sequence-pagination">
	<ul class="">
		<li><%= image_tag "images/tn-model1.png" %></li>
		<li><%= image_tag "images/tn-model2.png" %></li>
		<li><%= image_tag "images/tn-model3.png" %></li>
	</ul>
</div> -->
<div class="container">
	<div class="display_videos_module">
	  	<div class="container">
	    <h1>Listing videos</h1>

		<%= link_to "Filter Classes",:id => "class_filter" %>

	    <%= search_form_for(@q, :html => { :class => 'form-inline clearfix', :id => 'video_search_form', :remote =>true}) do |f| %>
	        <div class="well search_dark">
	          <table class="table table-responsive">
	            <tr>
	              <th><%= f.label :title_cont,"Search Videos:" %></th>
	              <th><%= f.label :style_id_eq, "Select Style" %></th>
	              <th><%= f.label :teacher_id_eq, "Select Teacher" %></th>
	              <th><label>Select Duration</label></th>
	              <th></th>
	              <th><label>Select Level</label></th>
	            </tr>
	            <tr>
	              <td><%= f.text_field :title_cont, :class => "form-control", :placeholder => "Search Video" %></td>
	              <td><%= f.collection_select( :style_id_eq, Style.order(:name), :id, :name, {:prompt => "Select a style"}, { :class => "form-control"}) %></td>
	              <td><%= f.collection_select( :teacher_id_eq, Teacher.order(:name), :id, :name, {:prompt => "Select a teacher"}, { :class => "form-control"}) %></td>
	              <td>
	                <div class="duration_slider"></div> 
	                <%= f.hidden_field :duration_lteq, :id =>"duration_hidden" %>
	              </td>
	              <td><p class="duration_min"><span id="duration_slider_result">120</span> min</p></td>
	              <td class="level">
	                <% @level_value.each do |d| %>
	                  <input type="checkbox" name="q[level_eq_any][]" id="level_eq_any_<%= d %>" class="level_eq_search" value="<%= d %>"/>
	                  <label for="level_eq_any_<%= d %>">
	                    <% x = 1 %>
	                    <% while x <= d.to_i %>
	                    <% x+=1 %>
	                    <span class="glyphicon glyphicon-leaf"></span>
	                    <% end %>
	                  </label>
	                <% end %>
	                
	                
	              </td>
	            </tr>
	          </table>
	        </div><!--/well-->
	        <div class="row clearfix" id="video_listing">
	        	<%= render 'videos/sorted_videos' %>
	        </div><!--/row-->

	        <%= f.submit 'Search', :class => "search_submit" %>
	      <% end %>
		</div>
	</div>