<%= render 'admin/admin/admin_dashboard_tabs', :active_tab => 'dashboard' %>
<div id="dashboard_section" class="admin_dashboard admin_style">
  <div class="inner_container">
    <div id="tabs-1">
    	<%= link_to raw('<span class="glyphicon glyphicon-plus"></span>Add New Style'), new_admin_style_path, :class =>"btn btn-primary pull-right btn-sm add_new_style_btn"%>
      	<h2 class="">Your Listed Styles</h2>
      	<table class="table table-condensed table-striped">
      		<tr>
      			<th>Id</th>
      			<th>Name</th>
      			<th>Description</th>
      			<th>Created at</th>
      			<th>Updated at</th>
      			<th></th>
      		</tr>
      		<% @styles.each do |style| %>
	      		<tr>
	      			<td><%= style.id %></td>
	      			<td><%= style.name %></td>
	      			<td class="description"><%= (truncate h(style.description), 
			                  :length => 300, 
			                  :omission => "...")
			                  .html_safe %></td>
	      			<td><%= nice_date_form(style.created_at) %></td>
	      			<td><%= nice_date_form(style.updated_at) %></td>
	      			<td>
                <%= link_to "Delete", admin_style_path(style), :method => :delete, :confirm =>'Are you sure?', :class => "btn btn-danger btn-sm pull-right" %>
	      				<%= link_to "Edit", edit_admin_style_path(style), :class => "btn btn-warning btn-sm pull-right" %>
	      				
	      				<%= link_to "View", admin_style_path(style), :class => "btn btn-success btn-sm pull-right" %>
	      			</td>
	      		</tr>
      		<% end%>
      	</table>
	</div>
  </div>
</div>