<div class="row">
	<div class="col-lg-3">
		<div class="teacher_avatar">
			<%= image_tag(@teacher.avatar.url(:medium), :alt => @teacher.name, :class => "video_thumb") %>
		</div>
	</div>
	<div class="col-lg-9">
		<h2><%= @teacher.name %></h2>
		<p><%= @teacher.profile %></p>
		<p><%= @teacher.website %></p>
	</div>
</div><!--/row-->

<%= render 'teacher_video_list' %>


