<div class="account-container stacked">
	
	<div class="content clearfix">
		
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		
			<h1 class="text-center">Sign In</h1>		
			
			<div class="login-fields">
				<%= devise_error_messages! %>
				
				<p>Sign in using your registered account:</p>

				<% if flash[:alert] %>
				  <p id="login_error" class="text-danger"><%= flash[:alert] %></p>
				<% end %>
				
				<div class="field">
					<%= f.label :username %>
					<%= f.text_field :username, :placeholder =>"Username", :class=> "form-control input-lg username-field", :autofocus => true %>
				</div> <!-- /field -->
				
				<div class="field">
					<%= f.label :password %>
					<%= f.password_field :password, :placeholder =>"Password", :class=> "form-control input-lg password-field" %>
				</div> <!-- /password -->
				
			</div> <!-- /login-fields -->
			
			<div class="login-actions">
				<% if devise_mapping.rememberable? -%>
					<span class="login-checkbox">
						<%= f.check_box :remember_me, :class=>"field login-checkbox" %>
						<%= f.label :remember_me, "Keep me signed in", :class=>"choice" %>
					</span>
				<% end -%>
									
				<%= f.submit "Sign In", :class=>"login-action btn btn-primary" %>
				
			</div> <!-- .actions -->
			
			<div class="login-social">
				<p>Sign in using social network:</p>
				
				<div class="twitter">
					<%= link_to "Login with Twitter",user_omniauth_authorize_path(:twitter)%>				
				</div>
				
				<div class="fb">
					<%= link_to "Login with Facebook",user_omniauth_authorize_path(:facebook)%>			
				</div>
			</div>
			
		<% end %>
		
	</div> <!-- /content -->
	
</div>
<div class="login-extra">
	Don't have an account? <%= link_to "Sign Up", new_registration_path(resource_name) %><br>
	Remind <%= link_to "Password",new_password_path(resource_name) %>
</div>