<%= render 'admin/admin_dashboard_tabs', :active_tab => 'users' %>
<div id="dashboard_section" class="admin_dashboard admin_style">
  <div class="inner_container">
    <div id="tabs-1">
      <div class="clearfix">

        <%= link_to raw('<span class="glyphicon glyphicon-plus"></span>Add New Admin'), admin_new_admin_path, :class =>"btn btn-danger pull-right btn-sm add_new_style_btn"%>

        <%= link_to raw('<span class="glyphicon glyphicon-plus"></span>Add New Customer'), new_admin_user_path, :class =>"btn btn-primary pull-right btn-sm add_new_style_btn"%>

      </div>
      <div>
        <div class="pull-right <%= @active %>">
          <%= link_to "All", admin_users_path, :class=>"all btn buy btn-sm" %>
          <%= link_to "Customer", admin_users_path(:sort => 0),:class=>"approved btn buy btn-sm" %>
          <%= link_to "Admin", admin_users_path(:sort => 1),:class=>"unapproved btn buy btn-sm" %>
        </div>
        
        <h2>Listed Users</h2>
      </div>
      <%= render "users" %>
	</div>
  </div>
</div>