<% content_for :header do %>
  <%= javascript_include_tag 'admin' %>  
<% end %>
<%= render 'admin/admin_dashboard_tabs', :active_tab => 'dashboard' %>
<div id="dashboard_section" class="admin_dashboard">
  <div class="inner_container">
    <div id="tabs-1">
      	<h2>Welcome, <span class="text-primary"><%= current_user.username %></span></h2>

        <button id="authorize-button" style="display: none;">Authorize</button>
        <hr>
        <div id="output"><%= image_tag "loader.gif" %></div>

        <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>

        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="widget stacked">
          
              <div class="widget-header">
                <i class="glyphicon glyphicon-star"></i>
                <h3>Quick Site Analytics of Today</h3>
              </div> <!-- /widget-header -->
              
              <div class="widget-content">
                
                <div class="stats">
                  
                  <div class="stat">
                    <span class="stat-value" id="site_visits"></span>                  
                    Site Visits
                  </div> <!-- /stat -->
                  
                  <div class="stat">
                    <span class="stat-value" id="unique_visits"></span>Unique Visits
                  </div> <!-- /stat -->
                  
                  <div class="stat">
                    <span class="stat-value" id="new_visits"></span>New Visits
                  </div> <!-- /stat -->
              
                </div> <!-- /stats -->
              
                <div id="chart-stats" class="stats">
                  
                  <div class="stat stat-time">                  
                    <span class="stat-value" id="bounce_rate"></span>
                    Bounce Rate of the Site
                  </div> <!-- /substat -->
                  
                  <div class="stat stat-time">                  
                    <span class="stat-value" id="avarage_visit_time"></span>
                    Average Time on Site
                  </div> <!-- /substat -->
                  
                </div> <!-- /substats -->
                
              </div> <!-- /widget-content -->
                
            </div>

            <div class="widget stacked">
        
              <div class="widget-header">
                <i class="glyphicon glyphicon-tag"></i>
                <h3>Site Statistics</h3>
              </div> <!-- /widget-header -->
              
              <div class="widget-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                
                
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>          
                
              </div> <!-- /widget-content -->
            
            </div>

            <div class="widget widget-nopad stacked">
            
              <div class="widget-header">
                <i class="glyphicon glyphicon-comment"></i>
                <h3>Recent Comments</h3>
              </div> <!-- /widget-header -->
              
              <div class="widget-content">

                <ul class="news-items">
                  <% @latest_comments.each do |c| %>  
                  <li>
                    <div class="news-item-detail">                    
                      <b><%= link_to c.user.username, c.user ,:class=>"news-item-title" %></b> said on <%= link_to c.video.title, c.video %>
                      <p class="news-item-preview"><%= c.comment_text %></p>
                    </div>
                    
                    <div class="news-item-date">
                      <span class="news-item-day"><%= c.updated_at.strftime("%d") %></span>
                      <span class="news-item-month"><%= c.updated_at.strftime("%^b") %></span>
                    </div>
                  </li>
                  <% end %>
                </ul>
                
              </div> <!-- /widget-content -->
            
            </div>

          </div><!--/col-6-->
          
          <div class="col-md-6">
            <div class="widget stacked">
          
              <div class="widget-header">
                <i class="glyphicon glyphicon-bookmark"></i>
                <h3>Quick Shortcuts</h3>
              </div> <!-- /widget-header -->
              
              <div class="widget-content">
                
                <div class="shortcuts">
                  <a href="javascript:;" class="shortcut">
                    <i class="glyphicon glyphicon-film shortcut-icon"></i>
                    <span class="shortcut-label">New Video</span>
                  </a>
                  
                  <a href="javascript:;" class="shortcut">
                    <i class="glyphicon glyphicon-tower shortcut-icon"></i>
                    <span class="shortcut-label">Teachers</span>               
                  </a>
                  
                  <a href="javascript:;" class="shortcut">
                    <i class="shortcut-icon icon-signal"></i>
                    <span class="shortcut-label">Reports</span> 
                  </a>
                  
                  <a href="javascript:;" class="shortcut">
                    <i class="glyphicon glyphicon-comment shortcut-icon"></i>
                    <span class="shortcut-label">Comments</span>                
                  </a>
                  
                  <a href="javascript:;" class="shortcut">
                    <i class="glyphicon glyphicon-user shortcut-icon"></i>
                    <span class="shortcut-label">Users</span>
                  </a>
                  
                  <a href="javascript:;" class="shortcut">
                    <i class="shortcut-icon icon-file shortcut-icon"></i>
                    <span class="shortcut-label">Notes</span> 
                  </a>
                  
                  <a href="javascript:;" class="shortcut">
                    <i class="shortcut-icon icon-picture shortcut-icon"></i>
                    <span class="shortcut-label">Photos</span>  
                  </a>
                  
                  <a href="javascript:;" class="shortcut">
                    <i class="shortcut-icon icon-tag shortcut-icon"></i>
                    <span class="shortcut-label">Tags</span>
                  </a>        
                </div> <!-- /shortcuts -->  
              
              </div> <!-- /widget-content -->
              
            </div><!--/widget-->
            <div class="widget stacked">
          
              <div class="widget-header">
                <i class="glyphicon glyphicon-stats"></i>
                <h3>Statistic of the Week</h3>
              </div> <!-- /widget-header -->
              
              <div class="widget-content">          
                <div id="site-statistic" class="chart-holder" style="width:100%;">
                  <script type="text/javascript">
                    google.load('visualization', '1', {packages: ['corechart']});
                    // google.setOnLoadCallback(drawVisualization);
                  </script>
                  
                </div>         
              </div> <!-- /widget-content -->
            
            </div>

            <div class="widget widget-nopad stacked">
            
              <div class="widget-header">
                <i class="glyphicon glyphicon-heart"></i>
                <h3>Most Popular Videos</h3>
              </div> <!-- /widget-header -->
              
              <div class="widget-content">

                <ul class="news-items">
                  <% @popular.each do |popular| %>
                    <% @popular_videos = get_favorite_video(popular.video_id) %>
                  <li>
                    <div class="news-item-detail">                    
                      <h4><%= link_to @popular_videos.title, popular.video %></h4>
                      <p class="news-item-preview"><%= link_to @popular_videos.style.name, @popular_videos.style %> | by <%= link_to @popular_videos.teacher.name, @popular_videos.teacher %></p>
                    </div>
                    
                    <div class="news-item-date date_image">
                      <% image = image_tag @popular_videos.photo.url(:small) %>
                      <%= link_to image, popular.video %>
                    </div>
                  </li>
                  <% end %>
                </ul>
                
              </div> <!-- /widget-content -->
            
            </div>

          </div>
        </div><!--/row-->

    </div><!--/tabs-1-->
  </div><!--/inner_container-->
</div><!--/dashboard_section-->