<%= load_javascript() %> 
<%= render 'admin/admin_dashboard_tabs', :active_tab => 'dashboard' %>
<div id="dashboard_section" class="admin_dashboard">
  <div class="inner_container">
    <div id="tabs-1">
      	<h2>Welcome, <span class="text-primary"><%= current_user.username %></span></h2>

        <button id="authorize-button" style="display: none;">Authorize</button>
        <hr>
        <div id="output">
          <%= image_tag "loader.gif" %>
          <h2>Loading, Please wait</h2>
        </div>

        <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>

        <div class="row" id="admin_full_content">
          <div class="col-md-6 col-xs-12">
            <div class="widget stacked">
          
              <div class="widget-header">
                <i class="glyphicon glyphicon-star"></i>
                <h3>Quick Site Analytics of Today</h3>
              </div> <!-- /widget-header -->
              
              <div class="widget-content">
                
                <div class="stats">
                  
                  <div class="stat">
                    <span class="stat-value" id="site_visits"></span>                  
                    Site Visits
                  </div> <!-- /stat -->
                  
                  <div class="stat">
                    <span class="stat-value" id="unique_visits"></span>Unique Visits
                  </div> <!-- /stat -->
                  
                  <div class="stat">
                    <span class="stat-value" id="new_visits"></span>New Visits
                  </div> <!-- /stat -->
              
                </div> <!-- /stats -->
              
                <div id="chart-stats" class="stats">
                  
                  <div class="stat stat-time">                  
                    <span class="stat-value" id="bounce_rate"></span>
                    Bounce Rate of the Site
                  </div> <!-- /substat -->
                  
                  <div class="stat stat-time">                  
                    <span class="stat-value" id="avarage_visit_time"></span>
                    Average Time on Site
                  </div> <!-- /substat -->
                  
                </div> <!-- /substats -->
                
              </div> <!-- /widget-content -->
                
            </div>

            <div class="widget stacked">
        
              <div class="widget-header">
                <i class="glyphicon glyphicon-tag"></i>
                <h3>Site Statistics</h3>
              </div> <!-- /widget-header -->
              
              <div class="widget-content">
                <div class="row">
                  <div class="col-md-6 table-responsive">
                    <h5 class="short_site_stat_title">Content</h5>
                    <table class="table table-condensed short_site_stat">
                      <tr>
                        <td>
                          <span class="pull-right"><%= Video.all.count %></span>
                        </td>
                        <td class="stat_name">Videos</td>
                      </tr>
                      <tr>
                        <td>
                          <span class="pull-right"><%= Style.all.count %></span>
                          </td>
                        <td class="stat_name">Styles</td>
                      </tr>
                      <tr>
                        <td>
                          <span class="pull-right"><%= Teacher.all.count %></span>
                          </td>
                        <td class="stat_name">Teachers</td>
                      </tr>
                      <tr>
                        <td><span class="pull-right"><%= Level.all.count %></span></td>
                        <td class="stat_name">Levels</td>
                      </tr>
                      <tr>
                        <td><span class="pull-right"><%= Comment.all.count %></td>
                        <td class="stat_name">Comment</td>
                      </tr>
                    </table>
                  </div>
                  <% results = subscription_status("") %>
                  <div class="col-md-6 table-responsive">
                    <h5 class="short_site_stat_title">Users</h5>
                    <table class="table table-condensed short_site_stat">
                      <tr>
                        <td>
                          <span class="pull-right"><%= User.all.count %></span>
                        </td>
                        <td class="stat_name">Total Users</td>
                      </tr>
                      <tr>
                        <td>
                          <span class="pull-right"><%= subscription_trial(results) %></span>
                          </td>
                        <td class="stat_name">Trial User</td>
                      </tr>
                      <tr>
                        <td>
                          <span class="pull-right"><%= subscription_status_counter(results,"Active") %></span>
                          </td>
                        <td class="stat_name">Active User</td>
                      </tr>
                      <tr>
                        <td><span class="pull-right"><%= subscription_status_counter(results,"Canceled") %></span></td>
                        <td class="stat_name">Canceled User</td>
                      </tr>
                    </table>
                  </div>

                </div>  
                
              </div> <!-- /widget-content -->
            
            </div>

            <div class="widget widget-nopad stacked" id="recent_pending_comments">
            
              <div class="widget-header">
                <i class="glyphicon glyphicon-comment"></i>
                <h3>Recent Pending Comments</h3>
              </div> <!-- /widget-header -->
              
              <div class="widget-content">

                <ul class="news-items">
                  <% if @latest_comments.where(:approved => nil).count > 0 %>
                    <% @latest_comments.where(:approved => nil).each do |c| %>  
                    <li id="<%= "c-#{c.id}" %>" class="listed_comments">
                      <div class="news-item-date">
                        <span class="news-item-day"><%= c.updated_at.strftime("%d") %></span>
                        <span class="news-item-month"><%= c.updated_at.strftime("%^b") %></span>
                      </div>
                      <div class="news-item-detail">                    
                        <b><%= link_to c.user.username, c.user ,:class=>"news-item-title" %></b> said on <%= link_to c.video.title, c.video %>
                        <p class="news-item-preview"><%= c.comment_text %></p>
                      </div>

                      <div class="news-item-approve">
                        <%= link_to raw('<span class="glyphicon glyphicon-ok"></span>'), admin_approve_comments_path(:id => c.id , :approved => 1), :method => :put, :remote => true, :class=>"btn btn-sm buy approve_comment", :data =>{:rel=> "c-#{c.id}"}  %>

                        <%= link_to raw('<span class="glyphicon glyphicon-remove"></span>'), admin_approve_comments_path(:id => c.id, :approved => 0), :method => :put, :remote => true, :class=>"btn btn-sm btn-danger unapprove_comment", :data =>{:rel=> "c-#{c.id}"}  %>
                      </div>
                    </li>
                    <% end %>
                    <% if Comment.where(:approved => nil).count > 5 %>
                      <li><h5 class="text-center" id="see_all_comments"><%= link_to "See all Pending Comments","" %></h5></li>
                    <% end %>
                  <% else %>
                    <li> <h5 class="text-primary">Currently there are no pending comments.</h5></li>
                  <% end %>
                </ul>
                
              </div> <!-- /widget-content -->
            
            </div>

          </div><!--/col-6-->
          
          <div class="col-md-6">
            <div class="widget stacked">
          
              <div class="widget-header">
                <i class="glyphicon glyphicon-bookmark"></i>
                <h3>Quick Shortcuts</h3>
              </div> <!-- /widget-header -->
              
              <div class="widget-content">
                
                <div class="shortcuts">
                  <%= link_to raw("<i class='glyphicon glyphicon-film shortcut-icon'></i>
                    <span class='shortcut-label'>New Video</span>"), new_admin_video_path, :class =>"shortcut" %>

                  <%= link_to raw("<i class='glyphicon glyphicon-tower shortcut-icon'></i>
                    <span class='shortcut-label'>Teachers</span>"), admin_teachers_path, :class =>"shortcut" %>

                  <%= link_to raw("<i class='glyphicon glyphicon-comment shortcut-icon'></i>
                    <span class='shortcut-label'>Comments</span>"), admin_comments_path, :class =>"shortcut" %>

                  <%= link_to raw("<i class='glyphicon glyphicon-user shortcut-icon'></i>
                    <span class='shortcut-label'>Users</span>"), admin_users_path, :class =>"shortcut" %>
          
                </div> <!-- /shortcuts -->  
              
              </div> <!-- /widget-content -->
              
            </div><!--/widget-->
            <div class="widget stacked">
          
              <div class="widget-header">
                <i class="glyphicon glyphicon-stats"></i>
                <h3>Statistic of the Week</h3>
              </div> <!-- /widget-header -->
              
              <div class="widget-content" id="site_stat_cont">          
                <div id="site-statistic" class="chart-holder">
                  <script type="text/javascript">
                    google.load('visualization', '1', {packages: ['corechart']});
                    // google.setOnLoadCallback(drawVisualization);
                  </script>
                  
                </div>         
              </div> <!-- /widget-content -->
            
            </div>

            <div class="widget widget-nopad stacked">
            
              <div class="widget-header">
                <i class="glyphicon glyphicon-heart"></i>
                <h3>Most Popular Videos</h3>
              </div> <!-- /widget-header -->
              
              <div class="widget-content">

                <ul class="news-items">
                  <% @popular.each do |popular| %>
                    <% @popular_videos = get_favorite_video(popular.video_id) %>
                  <li>
                    <div class="news-item-detail">                    
                      <h4><%= link_to @popular_videos.title, popular.video %></h4>
                      <p class="news-item-preview"><%= link_to @popular_videos.style.name, @popular_videos.style %> | by <%= link_to @popular_videos.teacher.name, @popular_videos.teacher %></p>
                    </div>
                    
                    <div class="news_item_image">
                      <% image = image_tag @popular_videos.photo.url(:small) %>
                      <%= link_to image, popular.video %>
                    </div>
                  </li>
                  <% end %>
                </ul>
                
              </div> <!-- /widget-content -->
            
            </div>

          </div>
        </div><!--/row-->

    </div><!--/tabs-1-->
  </div><!--/inner_container-->
</div><!--/dashboard_section-->