<%= load_javascript() %> 
<%= render 'admin/admin_dashboard_tabs', :active_tab => 'dashboard' %>
<div id="dashboard_section" class="admin_dashboard">
  <div class="inner_container">
    <div id="tabs-1">
      	<h2>Welcome, <span class="text-primary"><%= current_user.username %></span></h2>

        <button id="authorize-button" style="display: none;">Authorize</button>
        <hr>
        <div id="output"><%= image_tag "loader.gif" %></div>

        <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>

        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="widget stacked">
          
              <div class="widget-header">
                <i class="glyphicon glyphicon-star"></i>
                <h3>Quick Site Analytics of Today</h3>
              </div> <!-- /widget-header -->
              
              <div class="widget-content">
                
                <div class="stats">
                  
                  <div class="stat">
                    <span class="stat-value" id="site_visits"></span>                  
                    Site Visits
                  </div> <!-- /stat -->
                  
                  <div class="stat">
                    <span class="stat-value" id="unique_visits"></span>Unique Visits
                  </div> <!-- /stat -->
                  
                  <div class="stat">
                    <span class="stat-value" id="new_visits"></span>New Visits
                  </div> <!-- /stat -->
              
                </div> <!-- /stats -->
              
                <div id="chart-stats" class="stats">
                  
                  <div class="stat stat-time">                  
                    <span class="stat-value" id="bounce_rate"></span>
                    Bounce Rate of the Site
                  </div> <!-- /substat -->
                  
                  <div class="stat stat-time">                  
                    <span class="stat-value" id="avarage_visit_time"></span>
                    Average Time on Site
                  </div> <!-- /substat -->
                  
                </div> <!-- /substats -->
                
              </div> <!-- /widget-content -->
                
            </div>

            <div class="widget stacked">
        
              <div class="widget-header">
                <i class="glyphicon glyphicon-tag"></i>
                <h3>Site Statistics</h3>
              </div> <!-- /widget-header -->
              
              <div class="widget-content">
                <div class="row">
                  <div class="col-md-6 table-responsive">
                    <h5 class="short_site_stat_title">Content</h5>
                    <table class="table table-condensed short_site_stat">
                      <tr>
                        <td>
                          <span class="pull-right"><%= Video.all.count %></span>
                        </td>
                        <td class="stat_name">Videos</td>
                      </tr>
                      <tr>
                        <td>
                          <span class="pull-right"><%= Style.all.count %></span>
                          </td>
                        <td class="stat_name">Styles</td>
                      </tr>
                      <tr>
                        <td>
                          <span class="pull-right"><%= Teacher.all.count %></span>
                          </td>
                        <td class="stat_name">Teachers</td>
                      </tr>
                      <tr>
                        <td><span class="pull-right"><%= Level.all.count %></span></td>
                        <td class="stat_name">Levels</td>
                      </tr>
                      <tr>
                        <td><span class="pull-right"><%= Comment.all.count %></td>
                        <td class="stat_name">Comment</td>
                      </tr>
                    </table>
                  </div>

                  <div class="col-md-6 table-responsive">
                    <h5 class="short_site_stat_title">Users</h5>
                    <table class="table table-condensed short_site_stat">
                      <tr>
                        <td>
                          <span class="pull-right"><%= User.all.count %></span>
                        </td>
                        <td class="stat_name">Total Users</td>
                      </tr>
                      <tr>
                        <td>
                          <span class="pull-right">x</span>
                          </td>
                        <td class="stat_name">Trial User</td>
                      </tr>
                      <tr>
                        <td>
                          <span class="pull-right">x</span>
                          </td>
                        <td class="stat_name">Active User</td>
                      </tr>
                      <tr>
                        <td><span class="pull-right">i</span></td>
                        <td class="stat_name">Inactive User</td>
                      </tr>
                    </table>
                  </div>

                </div>  
                
              </div> <!-- /widget-content -->
            
            </div>

            <div class="widget widget-nopad stacked">
            
              <div class="widget-header">
                <i class="glyphicon glyphicon-comment"></i>
                <h3>Recent Comments</h3>
              </div> <!-- /widget-header -->
              
              <div class="widget-content">

                <ul class="news-items">
                  <% @latest_comments.each do |c| %>  
                  <li>
                    <div class="news-item-detail">                    
                      <b><%= link_to c.user.username, c.user ,:class=>"news-item-title" %></b> said on <%= link_to c.video.title, c.video %>
                      <p class="news-item-preview"><%= c.comment_text %></p>
                    </div>
                    
                    <div class="news-item-date">
                      <span class="news-item-day"><%= c.updated_at.strftime("%d") %></span>
                      <span class="news-item-month"><%= c.updated_at.strftime("%^b") %></span>
                    </div>
                  </li>
                  <% end %>
                </ul>
                
              </div> <!-- /widget-content -->
            
            </div>

          </div><!--/col-6-->
          
          <div class="col-md-6">
            <div class="widget stacked">
          
              <div class="widget-header">
                <i class="glyphicon glyphicon-bookmark"></i>
                <h3>Quick Shortcuts</h3>
              </div> <!-- /widget-header -->
              
              <div class="widget-content">
                
                <div class="shortcuts">
                  <a href="" class="shortcut">
                    <i class="glyphicon glyphicon-film shortcut-icon"></i>
                    <span class="shortcut-label">New Video</span>
                  </a>
                  
                  <a href="" class="shortcut">
                    <i class="glyphicon glyphicon-tower shortcut-icon"></i>
                    <span class="shortcut-label">Teachers</span>               
                  </a>
                  
                  <a href="" class="shortcut">
                    <i class="glyphicon glyphicon-comment shortcut-icon"></i>
                    <span class="shortcut-label">Comments</span>
                  </a>
                  
                  <a href="" class="shortcut">
                    <i class="glyphicon glyphicon-user shortcut-icon"></i>
                    <span class="shortcut-label">Users</span>
                  </a>

                </div> <!-- /shortcuts -->  
              
              </div> <!-- /widget-content -->
              
            </div><!--/widget-->
            <div class="widget stacked">
          
              <div class="widget-header">
                <i class="glyphicon glyphicon-stats"></i>
                <h3>Statistic of the Week</h3>
              </div> <!-- /widget-header -->
              
              <div class="widget-content">          
                <div id="site-statistic" class="chart-holder" style="width:100%;">
                  <script type="text/javascript">
                    google.load('visualization', '1', {packages: ['corechart']});
                    // google.setOnLoadCallback(drawVisualization);
                  </script>
                  
                </div>         
              </div> <!-- /widget-content -->
            
            </div>

            <div class="widget widget-nopad stacked">
            
              <div class="widget-header">
                <i class="glyphicon glyphicon-heart"></i>
                <h3>Most Popular Videos</h3>
              </div> <!-- /widget-header -->
              
              <div class="widget-content">

                <ul class="news-items">
                  <% @popular.each do |popular| %>
                    <% @popular_videos = get_favorite_video(popular.video_id) %>
                  <li>
                    <div class="news-item-detail">                    
                      <h4><%= link_to @popular_videos.title, popular.video %></h4>
                      <p class="news-item-preview"><%= link_to @popular_videos.style.name, @popular_videos.style %> | by <%= link_to @popular_videos.teacher.name, @popular_videos.teacher %></p>
                    </div>
                    
                    <div class="news-item-date date_image">
                      <% image = image_tag @popular_videos.photo.url(:small) %>
                      <%= link_to image, popular.video %>
                    </div>
                  </li>
                  <% end %>
                </ul>
                
              </div> <!-- /widget-content -->
            
            </div>

          </div>
        </div><!--/row-->

    </div><!--/tabs-1-->
  </div><!--/inner_container-->
</div><!--/dashboard_section-->