<div class="inner_container">
    <%= simple_form_for([:admin,@video], :html => { :class => 'form-horizontal'}) do |f| %>
      <% if @video.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

          <ul>
          <% @video.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.input :title %>

      <div class="control-group required video_duration">
        <label class="string required control-label" for="video_duration"><abbr title="required">*</abbr>Duration</label>
        <div class="controls">
          <div class="row">
            <div class="col-lg-8">
              <div class="duration_slider"></div> 
              <%= f.hidden_field :duration, :id =>"duration_hidden", :class => "new_slider" %>
            </div>
            <div class="col-lg-3">
              <span class="duration_min" style="display:inline-block;margin-right:5px;"><span id="duration_slider_result">120</span> </span>
              <%= f.error :duration, id: 'duration_error', :style => "color: #b94a48;"  %>
            </div>
          </div>
        </div>
      </div>

      <%=  f.association :style , input_html: { class: 'form-control' }, prompt: "Select your style" %>
      <%=  f.association :teacher , input_html: { class: 'form-control' }, prompt: "Select your teacher" %>
      <%=  f.association :level , input_html: { class: 'form-control' }, prompt: "Select your level" %>
      <%= f.input :wistia_id %>

      <div class="control-group">
        <label class="string required control-label" for="style_name">Upload Video Thumb</label>
        <div class="controls">
          <div class="fileupload fileupload-new" data-provides="fileupload">
            <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                <% if @video.photo.url present? %>
                  <%= image_tag @video.photo.url(:small) %>
                <% else %>
                  <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" />
                <% end %>
              </div>
              <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;">
            </div>
            <div>
              <span class="btn btn-warning btn-file btn-sm">
                <span class="fileupload-new">Select image
                </span>
                <span class="fileupload-exists">Change</span>
                <%= f.file_field :photo %>
              </span>
              <a href="#" class="btn-sm btn btn-danger fileupload-exists" data-dismiss="fileupload">Remove</a>
            </div>
          </div>
        </div>
      </div>

      <%= f.input :description , :input_html => { :rows => 5,:class => "form-control"} %>
      <div class="control-group">
        <label class="string required control-label" for="style_name"></label>
        <div class="controls">
          <%= link_to "Go back", admin_videos_path, :class => "btn btn-default"%>
          <%= f.button :submit, :class => "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div><!--/inner-container-->
</div><!--/gray-box-->