<%= render 'admin/admin_dashboard_tabs', :active_tab => 'videos' %>
<div id="dashboard_section" class="admin_dashboard admin_video">
  <div class="inner_container">
    <div id="tabs-1">
      <div>
        <%= link_to raw('<span class="glyphicon glyphicon-plus"></span>Add New Video'), new_admin_video_path, :class =>"btn btn-primary pull-right btn-sm add_new_style_btn"%>
          <h2 class="">Your Listed Videos</h2>
      </div>
    	
      <%= search_form_for([:admin, @search], :html => { :class => 'form-inline clearfix', :id => 'video_search_form'}) do |f| %>
        <div class="row">
          <div class="col-lg-4"><%= f.text_field :title_cont, :class => "form-control", :placeholder => "Search Video" %>
          </div>
          <div class="col-lg-1">
            <%= f.submit :class =>"btn btn-primary" %>
          </div>
        </div>
      <% end %>
            
      	<table class="table table-condensed table-striped">
      		<tr>
      			<th><%= sort_link @search, :id, "ID" %></th>
      			<th><%= sort_link @search, :title, "Video Name" %></th>
      			<th><%= sort_link @search, :style_id, "Style" %></th>
      			<th><%= sort_link @search, :level_id, "Level" %></th>
      			<th><%= sort_link @search, :teacher_id, "Teacher" %></th>
      			<th class="text-center"><%= sort_link @search, :duration, "Duration" %></th>
            <th class="text-center">Favorited by</th>
            <th class="text-center">Commented by</th>
      			<th><%= sort_link @search, :created_at, "Created on" %></th>
      			<th></th>
      		</tr>
      		<% @videos.each do |video| %>
	      		<tr>
	      			<td><%= video.id %></td>
	      			<td><%= video.title %></td>
	      			<td><%= video.style.name %></td>
	      			<td><%= video.level.name %></td>
	      			<td><%= video.teacher.name %></td>
	      			<td class="text-center"><%= video.duration %> min</td>
              <td class="text-center"><%= FavoriteVideo.count :conditions => {:video_id => video.id} %> <span class="glyphicon glyphicon-heart"></span></td>
              <td class="text-center"><%= video.comments.count %> <span class="glyphicon glyphicon-comment"></span></td>
	      			<td><%= nice_date_form(video.created_at) %></td>
	      			<td>
                <%= link_to "Delete", admin_video_path(video), :method => :delete, :confirm =>'Are you sure?', :class => "btn btn-danger btn-xs pull-right" %>
	      				<%= link_to "Edit", edit_admin_video_path(video), :class => "btn btn-warning btn-xs pull-right" %>
	      				
	      				<%= link_to "View", video_path(video), :class => "btn btn-success btn-xs pull-right" %>
	      			</td>
	      		</tr>
      		<% end%>
      	</table>
	</div>
  </div>
</div>