<!DOCTYPE html>
<html>
<head>
  <title>DanceDynamics</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :header %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <%= csrf_meta_tags %>
</head>

<body class="preload <%= controller_name -%> <%= action_name -%>">
  <% if flash[:error].present? || flash[:notice].present? || flash[:success].present? %>
  <div class="notify-bar notify-bar-height" style="display: none">
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
        <span>
          <button id="flashclose" type="button" class="close">×</button>
          <%= value %>
        </span>
      </div>
    <% end %>
  </div>
  <% end %>
  <script>
    setTimeout(function () {
      $('.notify-bar').slideDown().addClass('notify-bar-height-change');
        },1000)
  </script>
	<div class="navbar navbar-top navbar-fixed-top">
      <div id="login_section">
        <div class="container">
          <ul class="nav navbar-nav navbar-right usernav">
            <% if user_signed_in? %>
                <li class="dropdown usernav_section">    
                  <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown" data-hover="dropdown">
                      <%= avatar_url @user, :size => 32, :class => "image" %>
                      <span class="txt">Welcome <%= current_user.username %></span>
                  </a>
                  <ul class="dropdown-menu">
                      <li class="menu">
                          <ul class="no_list">
                            <% if current_user.admin? %>
                              <li><%= link_to raw('<span class="glyphicon glyphicon-calendar"></span>Admin'), admin_root_path %></li>
                              <li><%= link_to raw('<span class="glyphicon glyphicon-user"></span>Users'), admin_users_path %></li>
                              <li><%= link_to raw('<span class="glyphicon glyphicon-comment"></span>Comments'), admin_comments_path %></li>
                              <li><%= link_to raw('<span class="glyphicon glyphicon-film"></span>Videos'), admin_videos_path %></li>
                              <li><%= link_to raw('<span class="glyphicon glyphicon-tower"></span>Teachers'), admin_teachers_path %></li>
                              <li><%= link_to raw('<span class="glyphicon glyphicon-music"></span>Styles'), admin_styles_path %></li>
                            <% else %>
                              <li>
                                  <%= link_to raw('<span class="glyphicon glyphicon-calendar"></span>Dashboard'), user_dashboard_path %>
                              </li>
                              <li>
                                  <%= link_to raw('<span class="glyphicon glyphicon-user"></span>Profile'), user_profile_path %>
                              </li>
                              
                              <li>
                                  <%= link_to raw('<span class="glyphicon glyphicon-star"></span>My classes'), user_my_classes_path %>
                              </li>
                              <% end %>
                              <li><%= link_to (raw('<span class="glyphicon glyphicon-log-out"></span><span class="txt"> Logout</span>')), destroy_user_session_path, :method => :delete %>
                              </li>
                          </ul>
                      </li>
                  </ul>
                </li>
              
            <% else %>
                <li class="usernav_section"><%= link_to "Sign up", new_user_registration_path %></li>
                <li class="usernav_section"><%= link_to "Sign in" , new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div><!--/login_section-->
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand"><%= image_tag "logo.png", :width => "300" %></a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navigation navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="teachers_page" data-hover="dropdown">Teachers</a>
              <ul class="dropdown-menu" aria-labelledby="Teachers">
                <% Teacher.order(:name).each do |t| %>
                  <li><%= link_to t.name, t %></a></li>
                <% end %>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="styles_page" data-hover="dropdown">Styles</a>
              <ul class="dropdown-menu" aria-labelledby="Teachers">
                <% Style.order(:name).each do |s| %>
                  <li><%= link_to s.name, s %></a></li>
                <% end %>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="levels_page" data-hover="dropdown">Levels</a>
              <ul class="dropdown-menu" aria-labelledby="Teachers">
                <% Level.order(:name).each do |s| %>
                  <li><%= link_to s.name, s %></a></li>
                <% end %>
              </ul>
            </li>
            <li class="hoverable">
              <a href="../help/">Help</a>
            </li>
            <li class="hoverable">
              <a href="http://news.bootswatch.com">Blog</a>
            </li>
            <!-- <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Download <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="download">
                <li><a tabindex="-1" href="./bootstrap.min.css">bootstrap.min.css</a></li>
                <li><a tabindex="-1" href="./bootstrap.css">bootstrap.css</a></li>
              </ul>
            </li> -->
          </ul>
        </div>
      </div><!--/container-->
    </div>
  <div class="container main_body">
    <%= yield %>
  </div><!--/container-->
	<footer style="height:200px;background:black;"></footer>
</body>
</html>
